<div>
  <button (click)="changeMap(1)">open street map</button>
  <button (click)="changeMap(2)">open street map</button>
  <button (click)="changeMap(3)">stamen</button>
</div>

<div>
  <p>Bikes</p>
  <button (click)="loadBikes()">load</button>
  <button (click)="showBikes()">show</button>
  <button (click)="hideBikes()">hide</button>
</div>

<div>
  <p>cars</p>
  <button (click)="loadCars()">load</button>
  <button (click)="showCars()">show</button>
  <button (click)="hideCars()">hide</button>
</div>
