.example-form {
  min-width: 150px;
  max-width: 300px;
  width: 100%;
}

.example-full-width {

}
//.searchText {
//  display: inline;
//  padding: 20px;
//}
.position-img{
  margin: auto;
  padding: 5px;
}
.search-box{
  display: grid;
  grid-template-columns: auto 40px;
  margin: 10px;
}

.search-row {
  display: grid;
  grid-template-columns: auto 30px;
  width: 240px;
}

@media only screen and (orientation: portrait) {
  .search-box {
    width: 280px;
    margin: auto;
  }
}



/* Inline #3 | http://localhost:4200/ */

.show-filter[_ngcontent-dtp-c79] {
  background-color: antiquewhite;
}

/* Element | http://localhost:4200/ */

.header-box > div:nth-child(1) {
  margin: 0px 0px 15px;
}

.search_btn{
  border-radius: 10px;
  background-color: #a4c6a6;
  padding: 5px 40px;
}

.err-text {
  margin: 10px 0px 0px;
  color: red;
}
